.table-responsive tr td {
    vertical-align: middle;
}
.productQuantity{
    width: 151px;
}

.dateRange{
    margin-right: 500px !important;
}

.agentName{
    margin-right: 500px !important;
}
.form-width{
    width: 270px;
}
